@import "tailwindcss";

.bonheur-royale-regular {
  font-family: "Bonheur Royale", cursive !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.cinzel-bold {
  font-family: "Cinzel", serif !important;
  font-weight: 700 !important;
}